body {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	background-color: #f9f9f9;
}
html {
	width: 100%;
	height: 100%;
	min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
	margin: 35px 0 35px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}
h2 {
	display: inline-block;
	color: #f9f9f9;
	background: #fc0303;
	padding: 5px;
	transform: rotate(5deg);
	transition: 200ms;
}
h2:hover {
	transform: rotate(-5deg);
}
p {
	margin: 0 0 25px;
	font-size: 100%;
	line-height: 1.5;
}

@media(min-width:767px) {
p {
	margin: 0 0 35px;
	font-size: 110%;
	line-height: 1.6;
}
}
a {
	color: #f9f9f9;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a:hover, a:focus {
	text-decoration: none;
	color: #fc0303;
}
ul {
	margin: 0 0 35px;
	padding: 0;
}
li {
	list-style-type: none;
	padding: 0;
}
#download li {
	display: inline-block;
	margin: 10px;
}
.light {
	font-weight: 400;
}
.navbar-custom {
	margin-bottom: 0;
	border-bottom: 3px solid #fc0303;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	background-color: #f9f9f9;
}
.navbar-custom .navbar-brand {
	font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #000;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #000;
}
.navbar-custom .nav li.active {
	outline: none;
	background-color: #fc0303;
	color: #f9f9f9;
}
.navbar-custom .nav li.active a {
	color: #f9f9f9;
}
.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li a.active {
	outline: 0;
	background-color: #fc0303;
	color: #f9f9f9;
}

@media(min-width:767px) {
.navbar {
	padding: 20px 0;
	border-bottom: 0;
	letter-spacing: 1px;
	background: 0 0;
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse {
	padding: 0;
	background-color: #f9f9f9;
}
.navbar-custom.top-nav-collapse {
	border-bottom: 3px solid #000;
}
;
}
.intro {
	text-align: center;
  height:100%;
	color: #000;
	background: url(../img/intro-bg.jpg) no-repeat;
	background-size: cover;
}
.intro .brand-heading {
	font-size: 40px;
}
.intro .intro-text {
	display: inline-block;
	font-size: 18px;
	background-color: #fc0303;
	color: #f9f9f9;
	padding: 5px;
}
.btn-circle {
	margin: 35px auto;
	display: block;
	clear: both;
}

@media(min-width:767px) {
.intro {
	padding: 0;
}
.intro  .brand-heading{
	font-size: 100px;
}
.intro  .intro-text {
	font-size: 25px;
}
;
}
.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #000;
	border-radius: 35px;
	font-size: 40px;
	color: #000;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.btn-circle:hover, .btn-circle:focus {
	outline: 0;
	color: #f9f9f9;
	background: #fc0303;
	border: #fc0303;
	transform: rotate(360deg);
}
.btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}
 @-webkit-keyframes pulse {
 0 {
 -webkit-transform: scale(1);
 transform: scale(1);
}
 50% {
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
 transform: scale(1);
};
}
 @-moz-keyframes pulse {
 0 {
 -moz-transform: scale(1);
 transform: scale(1);
}
 50% {
 -moz-transform: scale(1.2);
 transform: scale(1.2);
}
 100% {
 -moz-transform: scale(1);
 transform: scale(1);
};
}
.content-section {
}
#download {
	width: 100%;
	color: #000;
	background: url(../img/downloads-bg.jpg) no-repeat;
	background-color: #f9f9f9;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

@media(min-width:767px) {
.content-section {
}
.download-section {
}
#map {
	height: 400px;
	margin-top: 250px;
}
;
}
.btn {
	text-transform: uppercase;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.btn-default {
	border: 3px solid #000;
	color: #000;
	background-color: transparent;
	border-radius: 0;
}
.btn-default:hover, .btn-default:focus {
	border: 3px solid #fc0303;
	outline: 0;
	color: #f9f9f9;
	background-color: #fc0303;
}
ul.banner-social-buttons {
	margin-top: 0;
}

@media(max-width:1199px) {
ul.banner-social-buttons {
	margin-top: 15px;
}
;
}

@media(max-width:767px) {
ul.banner-social-buttons li {
	display: block;
	margin-bottom: 20px;
	padding: 0;
}
ul.banner-social-buttons li:last-child {
	margin-bottom: 0;
}
;
}
footer {
	padding: 50px 0;
}
footer p {
	margin: 0;
}

::-webkit-selection {
 background: #f00;
 color: #f9f9f9;
}

::-moz-selection {
 background: #f00;
 color: #f9f9f9;
}
::selection {
	background: #f00;
	color: #f9f9f9;
}
img::selection {
	background: 0 0;
}
 img::-moz-selection {
 background: 0 0;
}
body {
	webkit-tap-highlight-color: #000;
}
#wrap {
	transition: 1s;
}
#loader {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	color: #000;
	background: #f9f9f9;
	transition: 0.5s;
	z-index: 9999;
}
#loader > p {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 5px solid #000;
	line-height: 100px;
	text-align: center;
	margin: auto;
	margin-top: calc(25% - 50px);
}
#loader.loaded {
	transform: scale(0, 0);
	display: none;
}
#wrap.loaded {
	opacity: 1;
}
section {
	height: 100%;
	min-height: 100vh;
	width: 100%;
	padding: 35px 0;
	margin: 0;
}
section > * {
	margin: 50vh 0 0 0;
	padding: 0;
	transform: translateY(-50vh);
}
.red {
	display: inline-block;
	color: #f9f9f9;
	background: #fc0303;
	padding: 5px;
	transform: rotate(-1deg);
}
